<div id="wrap">
  <div class="container">
    <div class="jumbotron">
      <h1>Quer jogar na mega sena?</h1>
      <p>Mas está sem sorte? Permita-me uma sugestão!</p>
      <br />
      <p class="lead">
        <%= @num %>
      </p>

      <%= link_to 'Quero outros números', @root_path, :class => "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted credit">E lembre de mim se ficar milionário! <a href="https://twitter.com/rodrigorosa">Rodrigo Rosa</a>.</p>
  </div>
</div>